*{
	font-size: 12px;
	font-family: Helvetica,Arial,sans-serif;	
}

.content, .menu, .header, .footer{
	width: 100%;
	min-width: 500px;
}

.main{
	width: 1024px;
	margin: 0 auto;	
}

.header{
	 height: 100px;
}
.header .logo{
	
}
.footer{
	
}
.footer .copy{
	
}

.gridPrincipal{
	margin-top: 10px;
	width: 100%;

}

.gridBotao{
	width: 100%;
}

.gridBotaoEsquerda{
	float: left;
}

.gridBotaoDireita{
	float: right;
}

.outputLabelBold{
	font-style: bold;
}

.ui-panelgrid.no-border > tbody > tr{
	border: 0px
}
.ui-panelgrid.no-border > tbody > td{
	border: 0px
}
